.contact{
    margin-top: 146px;
    height: 270px;
}
.contactInfo{
    float: left;
    padding-left: 27px;
}

.contactImg{
    float: left;
}
.dropMeAline{
    margin-top: 48px;
}

form input {
    background-color:#eee7d8;
    outline: none;
}

form textarea{
    background-color:#eee7d8;
}

textarea {
    width: 100%;
    height: 110px;
}